---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";


$serif-font-family: "NanumSquareNeoTTF-dEb", serif;
// $sans-serif-font-family: "Gmarket Sans TTF", sans-serif;
$sans-serif-font-family: "NanumSquareTTF-bRg";
$all-title-font-family: "BMDoHyeon-Regular";
$monospace-font-family: Menlo, Consolas, Monaco, "Jetbrains Mono", Courier,
  monospace;

$base-font-family: $sans-serif-font-family;
$headline-font-family: $serif-font-family;
$title-font-family: $serif-font-family;
$description-font-family: $sans-serif-font-family;
$meta-font-family: $monospace-font-family;
@import "so-simple";